{% load staticfiles %}
<html>
    <head>
        <title>Sanrio Character</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'p13.css' %}">
		<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
	</head>
	
    <body>
        <div id="title">
            <h1>Sanrio Characters</h1>
        </div>
		
		<div id="main">
			
			<span id="name">{{title}}</span>
			<br>
			<span id="bun">{{bun}}</span>
			<br>
			{{link}}
		</div>
    </body>
</html>