<html>
	<head>
		<meta charset="utf-8">
		<title>ミキプルーン</title>
		<script type="text/javascript">
		<!--
		// 設定開始（メッセージの内容と動きを設定してください）

			var msg = ''; // メッセージ内容
			var bemybaby=['ミキ','プル','ミキ','プル','ミ','キ','プ','ル','ン','ーン','ーン','ー'];
			var bb=['ミキ','プル','中井','貴一','ーン',''];
			var bmbb;
			var aa='の苗木';
			var speed = 1; // 表示スピード（1に近いほど速く）
			var flag = 1; // 繰り返し（0 = 繰り返す｜1 = 1回だけ）
			var jougen = Math.floor(Math.random()*10)+3;
			for(i=0;i<3;i++){
				if(i==0){
					bmbb=Math.floor(Math.random()*4);
				}else{
					bmbb=Math.floor(Math.random()*6);
				}
				msg=msg+bb[bmbb];
			}
			msg=msg+'「何だと思う？これね、';
			for(i=0;i<jougen;i++){
				if(i==0){
					bmbb=Math.floor(Math.random()*8);
				}else{
					bmbb=Math.floor(Math.random()*12);
				}
				msg=msg+bemybaby[bmbb];
			}
			msg=msg+aa+'。」';
			
		// 設定終了
		var count = 0;
		function disp(){
			var type = msg.substring(0, count);
			// テキストフィールドにデータを渡す処理
			document.form1.field1.value = type;
			count ++;
			var rep = setTimeout("disp()", speed);
			if(count > msg.length){
				if(flag == 1){
					clearTimeout(rep);
				}
				else{ count = 0; }
			}
		}
		// --> 
		</script>

	</head>
	<body onLoad="disp()">
		<p><strong>中井貴一「何だと思う？これね、ミキプルーンの苗木。」</strong></p>
		<input type="button" value="やりなおす" onclick="window.location.reload();" />
		<form action="#" name="form1">
			<textarea name="field1" rows="10" cols="100" wrap="hard">
			</textarea>
		</form>
	</body>
</html>