<html>
	<head>
		<meta charset="utf-8">
		<title>けろけろけろっぴ</title>
		<script type="text/javascript">
		<!--
		// 設定開始（メッセージの内容と動きを設定してください）

			var msg = ''; // メッセージ内容
			var bemybaby=['けろ','けろ','けろ','け','ろ','っぴ','ぴ','っ'];
			var bmbb;
			var aa='っぴ';
			var speed = 10; // 表示スピード（1に近いほど速く）
			var flag = 1; // 繰り返し（0 = 繰り返す｜1 = 1回だけ）
			var jougen = Math.floor(Math.random()*10)+3;
			for(i=0;i<jougen;i++){
				if(i==0){
					bmbb=Math.floor(Math.random()*5);
				}else{
					bmbb=Math.floor(Math.random()*8);
				}
				msg=msg+bemybaby[bmbb];
			}
		// 設定終了
		var count = 0;
		function disp(){
			var type = msg.substring(0, count);
			// テキストフィールドにデータを渡す処理
			document.form1.field1.value = type;
			count ++;
			var rep = setTimeout("disp()", speed);
			if(count > msg.length){
				if(flag == 1){
					document.form1.field1.value += aa;
					clearTimeout(rep);
				}
				else{ count = 0; }
			}
		}
		// --> 
		</script>

	</head>
	<body onLoad="disp()">
		<p><strong>けろけろけろっぴ</strong></p>
		<input type="button" value="やりなおす" onclick="window.location.reload();" />
		<form action="#" name="form1">
			<textarea name="field1" rows="10" cols="100" wrap="hard">
			</textarea>
		</form>
	</body>
</html>